*{

margin:0;
padding:0;
box-sizing:border-box;

font-family:Arial;

}



body{

background:
radial-gradient(circle at top,#142850,#020111);

color:white;

min-height:100vh;

overflow-x:hidden;

padding:30px;

}



/* stars */

.stars{

position:fixed;

width:100%;
height:100%;

background-image:
radial-gradient(white 1px,transparent 1px);

background-size:50px 50px;

opacity:.3;

z-index:-1;

animation:move 20s linear infinite;

}


@keyframes move{

from{
background-position:0 0;
}

to{
background-position:500px 500px;
}

}





header{

text-align:center;

}



h1{

font-size:70px;

letter-spacing:5px;

background:
linear-gradient(90deg,#00ffff,#9d00ff);

-webkit-background-clip:text;

color:transparent;

}



header p{

font-size:22px;

color:#aaa;

}





.buttons{

margin:40px;

}



button{

padding:15px 30px;

margin:10px;

border-radius:30px;

background:#111;

border:1px solid cyan;

color:white;

cursor:pointer;

transition:.4s;

}



button:hover{

background:#00ffff;

color:black;

box-shadow:
0 0 30px cyan;

}





.space-gallery{


display:grid;

grid-template-columns:
repeat(3,1fr);

gap:30px;


}





.card{


height:450px;

border-radius:30px;

overflow:hidden;

position:relative;

background:#111;

border:1px solid #ffffff33;

transition:.5s;


backdrop-filter:blur(10px);


}



.card:hover{


transform:
translateY(-20px)
scale(1.04);


box-shadow:
0 0 40px #00ffff;


}





.card img{


width:100%;

height:100%;

object-fit:cover;


}





.content{


position:absolute;

bottom:0;

width:100%;

padding:30px;


background:
linear-gradient(
transparent,
black
);


}



.content h2{

font-size:35px;

color:#00ffff;

}



.content p{

color:#ddd;

}




.hide{

display:none;

}



@media(max-width:800px){

.space-gallery{

grid-template-columns:1fr;

}


h1{

font-size:40px;

}

}